body{
    margin: 0%;
}


.dropdown{
    margin-left: 10px;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  perspective: 90rem;
  perspective-origin: 30% 60%;
}

.div-transform {
  display: flex;
  transform: rotateX(10deg) rotateY(15deg) rotateZ(-9deg) scale3d(1, 1, -0.9)
    scale(1.1) translateX(50px);
}

.card {
  background: url("image.jpg") center;
  color: #ffffff;
  border-radius: 8px;
  padding: 0px 18px;
  width: 244px;
  transition: 0.5s ease;
  overflow: hidden;
  transform: translate(0);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

.card h2 {
  text-transform: capitalize;
}

.card h4 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 48px;
}

.card-1 {
  background-size: cover;
  transform: scale(1.02);
  margin-right: 40px;
}

.card-1:hover {
  transform: scale(1.11);
  box-shadow: -7px 4px 28px -3px #FF0000;
}

.card-1::before {
  background: linear-gradient(90deg, #FF0000 0%, #990000 100%);
}

.card-2 {
  background-size: cover;
  transform: scale(1.01);
  margin-right: 31px;
}

.card-2:hover {
  transform: scale(1.1);
  box-shadow: -7px 4px 28px -3px #FF0000;
}

.card-2::before {
  background: linear-gradient(90deg, #FF0000 0%, #990000 100%);
}

.card-3 {
  background-size: cover;
}

.card-3:hover {
  transform: scale(1.08);
  box-shadow: -7px 4px 28px -3px #FF0000;
}

.card-3::before {
  background: linear-gradient(90deg, #FF0000 0%, #990000 100%);
}

.footer-clean {
    padding:50px ;
    background-color:#fff;
    color:#4b4c4d;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }
  .container{
    height: 200px;
  }